name: Potong Video & Pasang Logo

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Link YouTube (Video 5 Jam)'
        required: true
      mulai:
        description: 'Mulai (Jam:Menit:Detik)'
        default: '02:35:53'
      selesai:
        description: 'Selesai (Jam:Menit:Detik)'
        default: '02:53:35'

jobs:
  proses_editing:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update && sudo apt install ffmpeg -y
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Editing Otomatis
        run: |
          # Ambil URL asli dari link YouTube yang kamu input
          VIDEO_URL=$(yt-dlp -f "bestvideo[height<=720]+bestaudio/best[height<=720]" -g "${{ github.event.inputs.link_youtube }}")
          
          # Ambil logo kamu
          yt-dlp -f "best" --merge-output-format mp4 "https://youtu.be/zR6n39ZWrJM" -o logo.mp4

          # Proses potong dan tempel logo
          ffmpeg -ss ${{ github.event.inputs.mulai }} -to ${{ github.event.inputs.selesai }} -i "$VIDEO_URL" \
          -stream_loop -1 -i logo.mp4 \
          -filter_complex "[1:v]colorkey=0x008100:0.1:0.1,scale=75:-1[logo]; [0:v][logo]overlay=W-w-15:15:shortest=1" \
          -c:v libx264 -preset fast -crf 22 -c:a aac -b:a 128k \
          hasil_edit.mp4

      - name: Upload Hasil Jadi
        uses: actions/upload-artifact@v4
        with:
          name: Video_Hasil_Potongan
          path: hasil_edit.mp4
          
