name: Potong Video & Pasang Logo (Fixed Cookies)

on:
  workflow_dispatch:
    inputs:
      link_youtube:
        description: 'Link YouTube (Video Sumber)'
        required: true
      mulai:
        description: 'Mulai (Jam:Menit:Detik)'
        default: '00:00:10'
      selesai:
        description: 'Selesai (Jam:Menit:Detik)'
        default: '00:00:40'

jobs:
  proses_editing:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tools
        run: |
          sudo apt update && sudo apt install ffmpeg -y
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Eksekusi Potong & Tempel Logo
        run: |
          # BARIS PENTING: Nulis secret ke file cookies.txt
          echo "${{ secrets.YT_COOKIES }}" > cookies.txt
          
          echo "Mencari sumber video..."
          # Pakai --cookies cookies.txt supaya tembus blokir
          VIDEO_URL=$(yt-dlp --cookies cookies.txt -f "bestvideo[height<=720]+bestaudio/best[height<=720]" -g "${{ github.event.inputs.link_youtube }}")
          
          echo "Mengunduh logo..."
          yt-dlp --cookies cookies.txt -f "best" --merge-output-format mp4 "https://youtu.be/zR6n39ZWrJM" -o logo.mp4

          echo "Memulai pemrosesan video..."
          ffmpeg -ss ${{ github.event.inputs.mulai }} -to ${{ github.event.inputs.selesai }} -i "$VIDEO_URL" \
          -stream_loop -1 -i logo.mp4 \
          -filter_complex "[1:v]colorkey=0x008100:0.1:0.1,scale=75:-1[logo]; [0:v][logo]overlay=W-w-15:15:shortest=1" \
          -c:v libx264 -preset fast -crf 22 -c:a aac -b:a 128k \
          hasil_potongan.mp4

      - name: Upload Hasil Jadi (ZIP)
        uses: actions/upload-artifact@v4
        with:
          name: Video_Hasil_Potongan
          path: hasil_potongan.mp4
          retention-days: 1
          
